/* --> MAP <-- */
/* MIXIN */
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  scroll-behavior: smooth; }

a:any-link {
  color: #000; }

.seeMore a {
  color: #e9bc28;
  transition: color 0.5s; }
  .seeMore a:hover {
    color: #fdff00; }

iframe {
  max-width: 90%; }

body {
  background: radial-gradient(circle, #181818 0%, black 100%);
  background-attachment: fixed;
  color: #fff; }

header {
  grid-area: header; }

main {
  grid-area: main; }

.footLeft {
  grid-area: footLeft; }

.footCenter {
  grid-area: footCenter; }

.footRight {
  grid-area: footRight; }

/* ICONOS */
.fa-instagram {
  color: #c765a8; }

.fa-facebook {
  color: #1873eb; }

.fa-youtube {
  color: #f60000; }

/* KEYFRAMES */
@keyframes aparecerYPosicionarse {
  0% {
    opacity: 0;
    transform: translate(0, 20px); }
  100% {
    opacity: 1; } }

@keyframes extenderX {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

@keyframes pulse {
  0% {
    transform: scale(0.9); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.9); } }

/* MEDIA QUERIES */
@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footLeft footCenter footRight";
    grid-template-columns: auto;
    grid-template-rows: 80px auto 100px; }
  .onlyDevice {
    display: none; } }

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
    padding: 10px;
    text-align: center; }
  h2 {
    font-size: 25px;
    padding: 10px;
    text-align: center; }
  p {
    text-align: center; }
  .onlyDevice {
    display: block; }
  .onlyDesktop {
    visibility: hidden;
    display: none; }
  #discografia, #galeria, #inicio, #shows, #shows-fecha1, #sobreNosotros, #suscribirme, #videos {
    margin-top: 50px; } }

@media only screen and (max-width: 1024px) {
  body header nav .header__container {
    background: linear-gradient(to bottom, #c89a01, #f0d50b);
    font-size: 20px;
    height: 50px;
    transition: height 0.5s; }
    body header nav .header__container:hover {
      height: 60px; } }

@media only screen and (min-width: 1024px) {
  body header nav .header__container {
    background: linear-gradient(to bottom, rgba(233, 188, 40, 0.5), transparent);
    font-size: 20px;
    height: 40px;
    transition: height 0.5s; }
    body header nav .header__container:hover {
      height: 60px; } }

@media only screen and (max-width: 1024px) {
  body header nav .header__container div .navbar-nav {
    background: linear-gradient(to bottom, #c89a01, #f0d50b); } }

@media only screen and (max-width: 1024px) {
  body header nav .header__container div .navbar-nav .nav-link:hover {
    text-decoration: underline; } }

@media only screen and (max-width: 1024px) {
  footer.index__footer__container {
    position: fixed;
    bottom: 5px;
    z-index: 3; } }

@media only screen and (max-width: 1024px) {
  footer.index__footer__container .index__footer__item {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center; } }

footer.index__footer__container .index__footer__item .footer-item-icon {
  font-size: 30px; }

footer.footer__container {
  background: rgba(145, 145, 145, 0.3);
  color: #fff; }
  footer.footer__container div .footer-item-icon {
    font-size: 30px; }

body main#discografia {
  margin-bottom: 300px; }

body main .galeria__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center; }
  body main .galeria__grid-container .horizontal {
    grid-column: span 3;
    grid-row: span 2; }
  body main .galeria__grid-container .vertical {
    grid-row: span 3;
    grid-column: span 2; }
  body main .galeria__grid-container img {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover; }
  @media only screen and (max-width: 767px) {
    body main .galeria__grid-container {
      grid-template-columns: 100px; } }

body.index--background {
  background: #000; }
  @media only screen and (max-width: 768px) {
    body.index--background main div.index--center .index__imagenes {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 768px) {
    body.index--background main div.index--center .index__imagenes .index__imagenes__item {
      height: 50%;
      width: 49%;
      margin-top: 40px;
      margin-left: 3px; } }
  @media only screen and (min-width: 768x) {
    body.index--background main div.index--center .index__imagenes .index__imagenes__item {
      width: 300px;
      height: 450px; } }
  body.index--background main div.index--center .index__imagenes .index__imagenes__item::before {
    position: absolute;
    object-position: 0%;
    object-fit: cover;
    content: ' ';
    background: transparent;
    border: #000 solid 20px;
    filter: blur(10px);
    z-index: 2;
    outline: #000 20px solid; }
    @media only screen and (min-width: 768px) {
      body.index--background main div.index--center .index__imagenes .index__imagenes__item::before {
        height: 450px;
        width: 300px; } }
    @media only screen and (max-width: 768px) {
      body.index--background main div.index--center .index__imagenes .index__imagenes__item::before {
        height: 40%;
        width: 49%;
        margin-left: 3px; } }
  body.index--background main div.index--center .index__imagenes .index__imagenes__item img {
    object-fit: cover; }
    @media only screen and (max-width: 768px) {
      body.index--background main div.index--center .index__imagenes .index__imagenes__item img {
        height: 100%;
        width: 100%;
        max-width: 50vw;
        max-height: 50vh;
        object-fit: cover; } }
    @media only screen and (min-width: 768px) {
      body.index--background main div.index--center .index__imagenes .index__imagenes__item img {
        width: 300px;
        height: 450px; } }
  body.index--background main div.index--center .jamglass--button {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    z-index: 3;
    opacity: 0.8;
    filter: brightness(1);
    transition: filter 0.5s; }
    body.index--background main div.index--center .jamglass--button:hover {
      filter: brightness(1.3); }
    body.index--background main div.index--center .jamglass--button a .pulse {
      animation-name: pulse;
      animation-duration: 2.5s;
      animation-iteration-count: infinite; }

@media only screen and (min-width: 1024px) {
  body main section.inicio__main div {
    padding: 250px 0;
    background-image: url("../../galeria/img/DSC_0139.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1000px;
    font-size: 10vw;
    animation-duration: 3s;
    animation-name: aparecerYPosicionarse;
    animation-iteration-count: 1; } }

@media only screen and (max-width: 1024px) {
  body main section.inicio__main div {
    background-image: none;
    height: 200px;
    padding-top: 50px; } }

body main section.inicio__galeria .inicio__galeria__container .inicio__galeria__item1, body main section.inicio__galeria .inicio__galeria__container .inicio__galeria__item2 {
  object-fit: cover;
  object-position: center;
  width: 300px;
  height: 400px; }

body main section.inicio__galeria .inicio__galeria__container .inicio__galeria__item2 {
  margin-top: -50px; }

body main section.inicio__shows table {
  margin: auto;
  background: linear-gradient(to bottom, #e9bc28, #e8f40b);
  color: #000; }
  body main section.inicio__shows table .inicio__shows__fecha {
    width: 300px;
    height: 100px; }
    body main section.inicio__shows table .inicio__shows__fecha--left {
      font-size: 30px;
      padding: 0 20px;
      max-width: 60px; }
    body main section.inicio__shows table .inicio__shows__fecha--right {
      font-size: 30px;
      min-width: 240px;
      padding: 20px; }

body main section.inicio__sobreNosotros .inicio__sobreNosotros__container .inicio__sobreNosotros__item {
  overflow-y: auto;
  max-height: 500px; }
  @media only screen and (max-width: 1024px) {
    body main section.inicio__sobreNosotros .inicio__sobreNosotros__container .inicio__sobreNosotros__item {
      width: 100%; } }

body main section.inicio__suscribirme div .inicio__suscribirme__button {
  font-size: 20px;
  border-radius: 2em;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #d0ab45, #f3d406, #fdff00);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 500%;
  transition: background-position 0.5s; }
  body main section.inicio__suscribirme div .inicio__suscribirme__button:hover {
    background-position: right; }

/* SHOWS */
body main .shows__fecha {
  background: linear-gradient(to bottom, #e9bc28, #e8f40b);
  animation-duration: 1s;
  animation-name: extenderX;
  animation-iteration-count: 1; }

/* SHOWS-FECHA 1 */
body main .shows__flyer img {
  max-width: 100%; }

body main .shows__item p,
body main .shows__item img {
  max-width: 100%; }

@media only screen and (max-width: 1024px) {
  body main .shows__item {
    padding: 20px 0; } }

@media only screen and (max-width: 1024px) {
  body main {
    padding: 0 5px; } }

@media only screen and (min-width: 1024px) {
  body main .sobreNosotros__quienesSomos div img.sobreNosotros__beto {
    max-width: 90%;
    margin-top: 200px;
    z-index: -1; } }

@media only screen and (min-width: 1024px) {
  body main .sobreNosotros__quienesSomos div img.sobreNosotros__dario {
    max-width: 90%; } }

@media only screen and (min-width: 1024px) {
  body main .sobreNosotros__queHacemos div img {
    max-width: 90%; } }

@media only screen and (min-width: 1024px) {
  body main .sobreNosotros__integrantes div img {
    max-width: 80%; } }

@media only screen and (min-width: 1024px) {
  body main.suscribirme div {
    margin-bottom: 400px; } }

body main.suscribirme div .suscribirme__formulario {
  background: linear-gradient(to bottom, #e9bc28, #e8f40b);
  border-radius: 2em;
  border: 0;
  color: #000; }

body main .videos__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  body main .videos__container iframe {
    transition: transform 0.5s;
    animation-duration: 3s;
    animation-name: aparecerYPosicionarse;
    animation-iteration-count: 1; }
    body main .videos__container iframe:hover {
      transform: scale(1.3); }
