/* --> VARS <-- */
/* --> BASE <-- */
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  font-family: 'Patrick Hand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: lighter;
  text-decoration: none;
  scroll-behavior: smooth; }

body {
  overflow-x: hidden; }

/* KEYFRAMES */
@keyframes aparecerYPosicionarse {
  0% {
    opacity: 0;
    transform: translate(0, 20px); }
  100% {
    opacity: 1; } }

@keyframes extenderX {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

/* MEDIA QUERIES */
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 50px;
    padding: 10px;
    text-align: center; }
  h2 {
    font-size: 25px;
    padding: 10px;
    text-align: center; }
  p {
    text-align: center; }
  #sobreNosotros {
    padding: 0 5px; } }

/* --> LAYOUTS <-- */
/* GENERAL */
body {
  background-image: url("../background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }

header {
  grid-area: header; }

section {
  grid-area: main; }

.footLeft {
  grid-area: footLeft; }

.footCenter {
  grid-area: footCenter; }

.footRight {
  grid-area: footRight; }

.footer__container {
  background: rgba(145, 145, 145, 0.5); }

/* INICIO */
.inicio__sobreNosotros__item {
  overflow-y: auto;
  max-height: 500px; }

/* SHOWS */
.shows__fecha {
  background: linear-gradient(to bottom, #e9bc28, #e8f40b);
  animation-duration: 1s;
  animation-name: extenderX;
  animation-iteration-count: 1; }

/* SUSCRIBIRME */
.suscribirme__formulario {
  background: linear-gradient(to bottom, #e9bc28, #e8f40b);
  border-radius: 2em;
  border: 0;
  color: #000; }

/* GALERIA */
.galeria__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  grid-auto-rows: 100px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center; }
  .galeria__grid-container .horizontal {
    grid-column: span 3;
    grid-row: span 2; }
  .galeria__grid-container .vertical {
    grid-row: span 3;
    grid-column: span 2; }

/* MEDIA QUERIES */
@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas: "header header header" "main main main" "footLeft footCenter footRight";
    grid-template-columns: auto;
    grid-template-rows: 80px auto 100px; }
  .onlyDevice {
    display: none; }
  .header__container {
    background: linear-gradient(to bottom, #e9bc28, transparent);
    font-size: 20px;
    height: 40px;
    transition: height 0.5s; }
    .header__container:hover {
      height: 60px; }
  .inicio__main div {
    font-size: 10vw;
    background-image: none;
    height: 0px;
    padding-top: 50px;
    animation-duration: 3s;
    animation-name: aparecerYPosicionarse;
    animation-iteration-count: 1; } }

@media only screen and (max-width: 1024px) {
  .onlyDevice {
    display: block; }
  .onlyDesktop {
    visibility: hidden;
    display: none; }
  .index__footer__container {
    position: fixed;
    bottom: 5px; }
  .index__footer__item {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center; }
  .menu {
    position: fixed;
    top: 5px;
    left: 5px;
    background-color: #e9bc28;
    padding: 5px;
    color: #000;
    border-radius: 0.5em; }
  .navbar-nav {
    background: linear-gradient(to bottom, rgba(200, 154, 1, 0.5) 1%, rgba(240, 213, 11, 0.5) 90%, transparent 100%); }
  .nav-link:hover {
    text-decoration: underline; }
  .inicio__sobreNosotros__item {
    width: 100%; }
  .shows__item {
    padding: 20px 0; } }

/* --> COMPONENTS <-- */
/* ICONOS */
.fa-instagram {
  color: #c765a8; }

.fa-facebook {
  color: #1873eb; }

.fa-youtube {
  color: #f60000; }

.footer-item-icon {
  font-size: 30px; }

a:any-link {
  color: #000; }

.seeMore a {
  color: #e9bc28;
  transition: color 0.5s; }
  .seeMore a:hover {
    color: #fdff00; }

/* IMAGENES */
.inicio__galeria__item1 {
  object-fit: cover;
  object-position: center;
  width: 350px;
  height: 400px; }

.inicio__galeria__item2 {
  object-fit: cover;
  width: 350px;
  height: 400px;
  margin-top: -50px; }

.shows__item p,
.shows__item img {
  max-width: 100%; }

.shows__flyer img {
  max-width: 100%; }

.galeria__grid-container img {
  max-width: 300px;
  max-height: 300px;
  object-fit: cover; }

/* TABLAS */
.inicio__shows table {
  margin: auto;
  background: linear-gradient(to bottom, #e9bc28, #e8f40b);
  color: #000; }

.inicio__shows__fecha {
  width: 300px;
  height: 100px; }

.inicio__shows__fecha--left {
  font-size: 30px;
  padding: 0 20px;
  max-width: 60px; }

.inicio__shows__fecha--right {
  font-size: 30px;
  min-width: 240px;
  padding: 20px; }

/* BOTONES */
.inicio__suscribirme__button {
  font-size: 20px;
  border-radius: 2em;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  background-image: linear-gradient(to right, #d0ab45, #f3d406, #fdff00);
  background-size: 500%;
  background-position: left;
  transition: background-position 0.5s; }
  .inicio__suscribirme__button:hover {
    background-position: right; }

.index__button {
  border-radius: 2em;
  padding: 10px;
  color: #000;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
  background-image: linear-gradient(to right, #d0ab45, #f3d406, #fdff00);
  background-size: 500%;
  background-position: left;
  transition: background-position 0.5s; }
  .index__button:hover {
    background-position: right; }

/* BACKGROUND */
.index--background {
  background-image: url("../galeria/img/DSC_0177.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/* VIDEOS */
iframe {
  max-width: 90%; }

.videos__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .videos__container iframe {
    transition: transform 0.5s;
    animation-duration: 3s;
    animation-name: aparecerYPosicionarse;
    animation-iteration-count: 1; }
    .videos__container iframe:hover {
      transform: scale(1.3); }

/* MEDIA QUERIES */
@media only screen and (min-width: 1024px) {
  .sobreNosotros__beto {
    max-width: 90%;
    margin-top: 200px;
    z-index: -1; }
  .sobreNosotros__dario {
    max-width: 90%; }
  .sobreNosotros__queHacemos div img {
    max-width: 90%; }
  .sobreNosotros__integrantes div img {
    max-width: 80%; }
  .inicio__main div {
    padding: 250px 0;
    background-image: url("../galeria/img/DSC_0139.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 1000px; } }

@media only screen and (max-width: 1024px) {
  .header__container button {
    background: linear-gradient(to bottom, #c89a01, #f0d50b);
    position: fixed;
    right: 5px;
    top: 5px; }
  .inicio__main div {
    height: 200px; } }
