body {
    main {
        section.inicio__main {
            div {
                @media only screen and (min-width:1024px) {
                    padding: 250px 0;
                    background-image: url("../../galeria/img/DSC_0139.png");
                    @include bg-img (no-repeat, center, contain);
                    height: 1000px;
                    font-size: 10vw;
                    animation-duration: 3s;
                    animation-name: aparecerYPosicionarse;
                    animation-iteration-count: 1;
                }

                @media only screen and (max-width:1024px) {
                    background-image: none;
                    height: 200px;
                    padding-top: 50px;
                }
            }
        }

        section.inicio__galeria {
            .inicio__galeria__container {
                .inicio__galeria__item1 {
                    object-fit: cover;
                    object-position: center;
                    width: 350px;
                    height: 400px;
                }

                .inicio__galeria__item2 {
                    @extend .inicio__galeria__item1;
                    margin-top: -50px;
                }
            }
        }

        section.inicio__shows {
            table {
                margin: auto;
                background: linear-gradient(to bottom, rgb(233, 188, 40), rgb(232, 244, 11));
                color: #000;

                .inicio__shows__fecha {
                    width: 300px;
                    height: 100px;

                    &--left {
                        font-size: 30px;
                        padding: 0 20px;
                        max-width: 60px;
                    }

                    &--right {
                        font-size: 30px;
                        min-width: 240px;
                        padding: 20px;
                    }
                }
            }
        }

        section.inicio__sobreNosotros {
            .inicio__sobreNosotros__container {
                .inicio__sobreNosotros__item {
                    overflow-y: auto;
                    max-height: 500px;

                    @media only screen and (max-width:1024px) {
                        width: 100%;
                    }
                }
            }
        }

        section.inicio__suscribirme {
            div {
                .inicio__suscribirme__button {
                    font-size: 20px;
                    border-radius: 2em;
                    padding: 10px;
                    text-decoration: none;
                    cursor: pointer;
                    background-image: linear-gradient(to right, rgba(208, 171, 69, 1), rgba(243, 212, 6, 1), rgba(253, 255, 0, 1));
                    @include bg-img (no-repeat,left,500%);
                    transition: background-position 0.5s;

                    &:hover {
                        background-position: right;
                    }
                }
            }
        }
    }
}