/* SHOWS */
body {
    main {
        .shows__fecha {
            background: map-get($colores, color-principal);
            animation-duration: 1s;
            animation-name: extenderX;
            animation-iteration-count: 1;
        }
    }
}

/* SHOWS-FECHA 1 */

body {
    main {
        .shows__flyer {
            img {
                max-width: 100%;
            }
        }

        .shows__item {

            p,
            img {
                max-width: 100%;
            }

            @media only screen and (max-width:1024px) {
                padding: 20px 0;
            }
        }
    }
}