body {
    main {
        div {
            .suscribirme__formulario {

                background: map-get($colores, color-principal);
                border-radius: 2em;
                border: 0;
                color: #000;
            }

        }
    }
}