/* TODAS LAS PAGINAS */

* {
   margin: 0;
   padding: 0;
   font-family: 'Patrick Hand', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-weight: lighter;
   text-decoration: none;
   scroll-behavior: smooth;
}

body {
   background-image: url(background.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   color: #fff;
}

header {
   grid-area: header;
}

section {
   grid-area: main;
}

.footLeft {
   grid-area: footLeft;
}

.footCenter {
   grid-area: footCenter;
}

.footRight {
   grid-area: footRight;
}

.fa-instagram {
   color: rgb(199, 101, 168);
}

.fa-facebook {
   color: rgb(24, 115, 235);
}

.fa-youtube {
   color: rgb(246, 0, 0);
}


@media only screen and (min-width: 576px) {

   body {
      display: grid;
      grid-template-areas:
         "header header header"
         "main main main"
         "footLeft footCenter footRight";
      grid-template-columns: auto;
      grid-template-rows: 80px auto 100px;
   }

   .onlyDevice {
      display: none;
   }

   /* h1 {
      font-size: 50px;
      padding: 20px;
   }

   h2 {
      font-size: 35px;
      padding: 20px;
   } */

   /* HEADER */

   .header__container {
      display: flex;
      width: 100%;
      justify-content: end;
      background: linear-gradient(to bottom, rgb(233, 188, 40), transparent);
   }

   .header__container ul {
      list-style-type: none;
      display: flex;
      gap: 1rem;
      font-size: 25px;
      margin-right: 20px;
   }

   .header__item {
      padding: 1vw;
   }

   /* SOBRE NOSOTROS*/


   .sobreNosotros__beto {
      max-width: 90%;
      margin-top: 200px;
      z-index: -1;
   }

   .sobreNosotros__dario {
      max-width: 90%;
   }

   /*    .sobreNosotros__quienesSomos div {
      display: inline-block;
      width: 28%;
      padding: 30px;
   } */

   /*  .sobreNosotros__queHacemos div { */
   /*       display: inline-block;
      width: 45%;
      padding: 30px; */
   /* } */

   .sobreNosotros__queHacemos div img {
      max-width: 90%;
   }

   /*    .sobreNosotros__integrantes div {
 */
   /*  text-align: center; */
   /*  padding: 30px; */
   /* } */

   .sobreNosotros__integrantes div img {
      max-width: 80%;
   }
}



/* INDEX */

.index--background {
   background-image: url(galeria/img/DSC_0177.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

/* .index--center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 20px auto;
} */

iframe {
   max-width: 90%;
}

.index__button {
   border-radius: 2em;
   padding: 10px;
   color: #000;
   text-decoration: none;
   font-weight: bolder;
}




/* INICIO */

.inicio__main__presentacion {
   padding: 250px 0;
   /* width: 100%; */
   /* text-align: center; */
   /* font-size: 60px; */
   /* color: #fff; */
   background-image: url("galeria/img/DSC_0139.jpg");
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   height: 1000px;
}

/* .inicio__main__presentacion__titulo {
   font-style: italic;
   font-size: 80px;
}
 */
/* .inicio__videos {
   padding: 50px 0;
} */

/* .inicio--center {
   text-align: center;
}
 */
/* .inicio--center iframe {
   max-width: 90%;
   margin: 0 30px;
} */

/* .inicio__galeria__container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
}
*/
.inicio__galeria__item1 {
   object-fit: cover;
   width: 350px;
   height: 400px;
}

.inicio__galeria__item2 {
   object-fit: cover;
   width: 350px;
   height: 400px;
   margin-top: -50px;
}

/* .seeMore {
   text-align: right;
   padding-right: 20px;
   font-size: 25px;
   font-weight: bolder;
} */

a:any-link {
   color: #000;
}

.inicio__shows table {
   margin: auto;
   background: linear-gradient(to bottom, rgb(233, 188, 40), rgb(232, 244, 11));
   color: #000;
}

.inicio__shows__fecha {
   width: 300px;
   height: 100px;
}

.inicio__shows__fecha--left {
   font-size: 30px;
   padding: 0 20px;
   max-width: 60px;
}

.inicio__shows__fecha--right {
   font-size: 30px;
   min-width: 240px;
   padding: 20px;
}

/* .inicio__sobreNosotros__container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   width: 95vw;
   padding: 0 20px;
} */

.inicio__sobreNosotros__item {
   /* width: 45%; */
   /* flex-shrink: 0; */
   overflow-y: auto;
   max-height: 500px;
}

/* .inicio__suscribirme--center,
.suscribirme--center {
   text-align: center;
   margin: auto;
   max-width: 400px;
   font-size: 30px;
   padding-bottom: 50px;
} */

.inicio__suscribirme__button {
   font-size: 20px;
   border-radius: 2em;
   padding: 10px;
   color: #fff;
   background: linear-gradient(to bottom, rgb(233, 188, 40), rgb(232, 244, 11));
   text-decoration: none;
}


/* FOOTER */

.footer__container {
   /* display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%; */
   background: rgba(145, 145, 145, 50%);
}

.footer-item-icon {
   font-size: 30px;
}



/* .footer__item--left i {
   padding: 0 20px;
}

.footer__item--right {
   width: 100%;
   text-align: end;
   padding-right: 20px;
} */

/* SUSCRIBIRME */

.suscribirme__formulario {
   /* text-align: center;
   font-size: 20px; */
   /*    width: 600px;
   max-width: 90vw;
   margin: auto; */
   background: linear-gradient(to bottom, rgb(233, 188, 40), rgb(232, 244, 11));
   /* padding: 20px; */
   border-radius: 2em;
   border: 0;
   color: #000;
}

/* .suscribirme__formulario tr td {
   padding: 20px;
   text-align: left;
} */

/* .suscribirme__formulario-boton {
   padding: 5px;
   width: 100px;
   font-size: 20px;
} */

/* shows */

.shows__fecha {
   /* margin: auto; */
   /* height: 100px; */
   background: linear-gradient(to bottom, rgb(233, 188, 40), rgb(232, 244, 11));
   /* font-size: 30px;
   padding: 0 20px;
   color: #000; */
}

/* .shows__fecha--left { */
/*    max-width: 50px; */
/* } */
/*  */
/* .shows__fecha--center { */
/*    max-width: 400px; */
/*    text-align: center;
   padding-left: 20px;
 */
/* } */

/* SHOWS - FECHA */

/* .shows__flyer {
   text-align: center;
   max-width: 100vw;
} */

/* .shows__item {
   max-width: 100vw;
   padding: 20px 50px;
   text-align: center;
   font-size: 25px;
} */

.shows__item p,
.shows__item iframe,
.shows__item img,
.shows__flyer img {
   max-width: 100%;
}

/* videos */

/* .videos__container {
   display: inline-block;
   text-align: center;
   max-width: 100vw;
} */

/* .videos__item iframe {
   max-width: 100vw;
}
 */
/* GALERIA */

/* #galeria { */
/*    padding: 0; */
/* } */

.galeria__grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, 100px);
   grid-auto-rows: 100px;
   grid-row-gap: 10px;
   grid-column-gap: 10px;
   justify-content: center;
}

.galeria__imagen {
   max-width: 300px;
   max-height: 300px;
   object-fit: cover;
}

.horizontal {
   grid-column: span 3;
   grid-row: span 2;
}

.vertical {
   grid-row: span 3;
   grid-column: span 2;
}

/* DISCOGRAFIA */

/* .discografia__container {
   display: flex;
   flex-wrap: wrap;
}

.discografia__item {
   max-width: 100vw;
}

.discografia__item img {
   max-width: 100vw;
   width: 600px;
}


.discografia__item ul {
   list-style-type: none;
} */

@media only screen and (max-width:576px) {
   .onlyDevice {
      display: block
   }

   /* body {
      display: grid;
      grid-template-areas:
         "header ."
         "main main"
         "footer footer";
      grid-template-columns: 100px auto;
      grid-template-rows: auto auto 100px;
   }

   footer {
      grid-area: footer;
   } */

   .onlyDesktop {
      visibility: hidden;
      display: none;
   }

   .index__footer__container {
      position: fixed;
      bottom: 5px;

   }

   .index__footer__item {
      display: flex;
      width: 100vw;
      justify-content: space-around;
      align-items: center;
   }

   .menu {
      position: fixed;
      top: 5px;
      left: 5px;
      background-color: rgb(233, 188, 40);
      padding: 5px;
      color: #000;
      border-radius: 0.5em;
   }

   .header__container {
      background: linear-gradient(to bottom, rgb(233, 188, 40), transparent);
      position: fixed;
      z-index: 1;
      top: 50px;
   }

   h1 {
      font-size: 50px; 
      padding: 10px;
      text-align: center;
   }

    h2 {
      font-size: 25px;
      padding: 10px;
      text-align: center;
   }

   p {
      text-align: center;
   }
 
   .inicio__main__presentacion {
      font-size: 10vw;
      background-image: none;
      height: 0px;
      padding-top: 50px;
   }

   .inicio__main__presentacion__titulo {
      font-size: 15vw;
   }

   .inicio__sobreNosotros__item {
      width: 100%;
   }

   .shows__item {
      padding: 20px 0;
   }

   #sobreNosotros {
      padding: 0 5px;
   }

   .videos__container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }
}

/* ANIMACIONES, TRANSFORMACIONES Y TRANSICIONES */


.index__button,
.inicio__suscribirme__button {
   cursor: pointer;
   background-image: linear-gradient(to right, rgba(208, 171, 69, 1), rgba(243, 212, 6, 1), rgba(253, 255, 0, 1));
   background-size: 500%;
   background-position: left;
   transition: background-position 0.5s;
}

.index__button:hover,
.inicio__suscribirme__button:hover {
   background-position: right;
}

.seeMore a {
   color: rgb(233, 188, 40);
   transition: color 0.5s;
}

.seeMore a:hover {
   color: rgba(253, 255, 0, 1);
}

iframe,
.inicio__main__presentacion {
   animation-duration: 3s;
   animation-name: aparecerYPosicionarse;
   animation-iteration-count: 1;
}

@keyframes aparecerYPosicionarse {
   0% {
      opacity: 0;
      transform: translate(0, 20px);
   }

   100% {
      opacity: 1;
   }
}

.header__container {
   height: 40px;
   transition: height 0.5s;
}

.header__container:hover {
   height: 60px;
}

.header__item:before {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #000;
   visibility: hidden;
   transform: scaleX(0);
   transition: 0.3s;
}

.header__item:hover:before {
   visibility: visible;
   transform: scaleX(1);
}

.shows__fecha {
   animation-duration: 1s;
   animation-name: extenderX;
   animation-iteration-count: 1;
}

@keyframes extenderX {
   0% {
      transform: scaleX(0);
   }

   100% {
      transform: scaleX(1);
   }
}

.videos__item iframe {
   transition: transform 0.5s;
}

.videos__item iframe:hover {
   transform: scale(1.3);
}