footer.index__footer__container {
    @media only screen and (max-width:1024px) {
        position: fixed;
        bottom: 5px;
        z-index: 3;
    }

    .index__footer__item {
        @media only screen and (max-width:1024px) {
            display: flex;
            width: 100vw;
            justify-content: space-around;
            align-items: center;
        }
        .footer-item-icon {
            font-size: 30px;
            
        }
    }
}

footer.footer__container {
    background: map-get($colores, color-footer);
    color: #fff;
    div {
        .footer-item-icon {
            font-size: 30px;
        }
    }

}